NAME=Ali Student
STUDENT_ID=U12345678
EMAIL=ali@example.com
GITHUB=https://github.com/alistudent
LINKEDIN=https://linkedin.com/in/alistudent
INSTAGRAM=https://www.instagram.com/alistudent
X=https://x.com/AliStudent
